body{
    font-family: "EB Garamond", times;
    font-size: large;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: black
}

/* Navigation Home Page */
.navigation{
    display: flexbox;
    justify-content: space-between ;
    padding: 0%;
    color: black
}

li {
    list-style-type: square;
    padding-bottom: 10px;
  }



.leftcolumn {
    margin-right: 30px;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 1.1em;
    
    text-transform: uppercase;
    height: 22px;
    border-bottom: 1px solid transparent;
}

.rightcolumn {
    margin-top: 0%;
    margin-right: 30px;
    font-size: 1.5em;
    font: times;
    height: 22px;
    border-bottom: 1px solid transparent;
    color: black;
}

.leftcolumn a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
    transition: border-bottom 0.5s;
    margin-right: 15px;
}


.leftcolumn a:hover{
    border-bottom: 1px solid white;
    color: white;
}

.navigation > .leftcolumn > div {
    /*access Divs in path and set styles*/

}

.main-photo {
    display:flex;
    max-width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aligncenter {
    text-align: center
}

/* Gallery Page */
.gallery-grid {
    display:grid;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: 1.1fr .8fr 1.1fr;
    position: cover;
}

.gallery-photo {
    height: 300px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    border: gray;
    background-size:cover;
    background-position: 50% 50%;

}


.first-para{
    display: flex; 
    justify-content: space-around;
}

.news{
    align-items: left;
}


.imgsize{
    max-width: 45%;
    max-height: 240px;
    padding-left: 2%;
}


.tree {
 /*   --spacing: 1.5rem;
    --radius: 10px;*/
}

details{
    display: block;
}


summary {
    list-style-position: outside;
    margin-left: 10px;
    padding: 0px 20px 0px 2px;
    border-radius: 10px;
  }